<!DOCTYPE html>
<html lang="en">

<body>
    <input type="text" id="newtodo">
    <button id="btnAdd">add todo</button>
    <ul id="todo">
        <li> Make coffee </li>
        <li>Buy Milk</li>
        <li>feed the cat.</li>
    </ul>
   
</body>
</html>